/build
/setup
/frontend
/data/files/FootprintAttachment/*
/data/files/PartAttachment/*
/data/files/ProjectAttachment/*
/data/files/Temporary/*
/data/iclogo/*
/data/images/cache/*
/data/images/footprint/*
/data/images/iclogo/*
/data/images/part/*
/data/images/temp/*
/data/images/storagelocation/*
/data/temp/*
/data/proxies/*
config.php
/tests/reports
/build-setup
partkeepr.jsb3
theme/sass/.sass-cache/
/reports
/nbproject/
partkeepr.jsfiles
app/authkey.php
app/config/parameters.php
app/config/parameters_setup.php
app/var/cache/*

/web/bundles/
/web/images/*
/web/spritesheets/*
/web/atelierspierrot/*
/web/js/*
/web/css/*

/app/cache/*
/app/config/parameters.yml
/app/logs/*
/vendor/
/bin/symfony_requirements
/composer.phar

!.keep
!app/logs/.htaccess
!app/logs/ignore.json

/var
!var/cache/.gitkeep
!var/logs/.gitkeep
.vscode
*.swp

scripts/perm
scripts/preg
scripts/regd
scripts/setupbash.sh
scripts/perm
.gitignore
