/.web-server-pid
/app/config/parameters.yml
/app/authkey.php
/app/config/parameters.php
/app/config/parameters_setup.php
/app/cache/*
/app/config/parameters.yml
/app/logs/*
/build/
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/web/bundles/
/web/images/*
/web/spritesheets/*
/web/atelierspierrot/*
/web/js/*
/web/css/*

/setup
/frontend
/data/files/FootprintAttachment/*
/data/files/PartAttachment/*
/data/files/ProjectAttachment/*
/data/files/Temporary/*
/data/iclogo/*
/data/images/cache/*
/data/images/footprint/*
/data/images/iclogo/*
/data/images/part/*
/data/images/temp/*
/data/images/storagelocation/*
/data/temp/*
/data/proxies/*
config.php
/tests/reports
/build-setup
partkeepr.jsb3
theme/sass/.sass-cache/
/reports
/nbproject/
partkeepr.jsfiles

/bin/
/composer.phar

!.keep
!app/logs/.htaccess
!app/logs/ignore.json
