[submodule "frontend/resources/silkicons"]
	path = src/frontend/resources/silkicons
	url = git://github.com/partkeepr/famfamfam_silkicons.git
[submodule "frontend/resources/flags"]
	path = src/frontend/resources/flags
	url = git://github.com/partkeepr/famfamfam_flags.git
[submodule "frontend/resources/mimetypes"]
	path = src/frontend/resources/mimetypes
	url = git://github.com/partkeepr/splitbrain_mimetypes.git
[submodule "frontend/resources/fugue-icons"]
	path = src/frontend/resources/fugue-icons
	url = git://github.com/yusukekamiyamane/fugue-icons.git

[submodule "3rdparty/extjs"]
	path = 3rdparty/extjs
	url = git://github.com/partkeepr/ExtJS4.git
[submodule "3rdparty/doctrine-migrations"]
	path = 3rdparty/doctrine-migrations
	url = git://github.com/doctrine/migrations.git
[submodule "3rdparty/ext-wizard"]
	path = 3rdparty/ext-wizard
	url = git://github.com/partkeepr/Ext.ux.Wizard.git
[submodule "3rdparty/Ext.ux.Exporter"]
	path = 3rdparty/Ext.ux.Exporter
	url = git@github.com:partkeepr/Ext.ux.Exporter.git
