.dataview-multisort-item {
    float: left;
    padding: 8px;
    margin: 8px 8px 4px 8px;
}

.iclogo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 120px;
}

.x-item-selected {
    outline: 1px solid #157fcc !important;
    outline-offset: -1px;
}

.remote-image-background {
    background-color: white;
    border: 1px solid black;
    text-align: center;
}

.x-title-wrappable-text>div {
    overflow: auto;
    white-space: normal;
    vertical-align: top;
}

.x-title-wrappable-text>div>div {
    font-size: 20px;
    line-height: normal;
}

.x-title-wrappable-text small {
    font-size: 14px;
    line-height: 16px;
}

.x-wrappable-grid .x-grid-cell-inner {
    white-space: normal;
}

.x-form-reload-trigger {
    background-image: url(../images/form/reload-trigger.png);
}
