.dataview-multisort-item {
    float: left;
    padding: 8px;
    margin: 8px 8px 4px 8px;
}

.iclogo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
}

/* @todo Check if this is needed with ExtJS 6 */
.x-item-selected {
    outline: 1px solid #157fcc !important;
    outline-offset: -1px;
}