.x-btn .remove_image{
	background-position: 1px 0px !important;
	width: 18px !important;
}

.x-statusbar .x-status-ok {
	background-image: url(../resources/silkicons/accept.png);
	background-repeat: no-repeat;
	background-position: 2px 2px;
	padding-left: 22px;
}

.x-status-borders {
	border-width: 0 1px 1px 1px !important;
}

.jm-menubar {
    padding:0px 0px;
    height:20px;
    background:white;
    border: 1px solid #99bbe8;
    background-image: url(../resources/jmicons/menu-shade.gif);
	background-repeat: repeat-x;
    border-bottom:0px;
}

.jm-menubar .x-btn-with-menu .x-btn-center em {
    padding-right:0px;
    background:none;
}

.jm-menubar .x-btn-menu-active .x-btn-center,
.jm-menubar .x-btn-menu-active .x-btn-left,
.jm-menubar .x-btn-menu-active .x-btn-right,
.jm-menubar .x-btn-over .x-btn-center,
.jm-menubar .x-btn-over .x-btn-left,
.jm-menubar .x-btn-over .x-btn-right,
.jm-menubar .x-btn-over .x-btn-text,
.jm-menubar .x-btn-menu-active .x-btn-text {
    background:#316AC5;
    color:white;
}



.x-splitbar-h{
	background-image:url(../extjs/resources/images/default/sizer/e-handle.gif);background-position:left center;
}

