.x-btn .remove_image{
	background-position: 1px 0px !important;
	width: 18px !important;
}

.x-statusbar .x-status-ok {
	background-image: url(../resources/silkicons/accept.png);
	background-repeat: no-repeat;
	background-position: 2px 2px;
	padding-left: 22px;
}

.x-status-borders {
	border-width: 0 1px 1px 1px !important;
}

.jm-menubar {
    padding:0px 0px;
    height:20px;
    background:white;
    border: 1px solid #99bbe8;
    background-image: url(../resources/jmicons/menu-shade.gif);
	background-repeat: repeat-x;
    border-bottom:0px;
}

.jm-menubar .x-btn-with-menu .x-btn-center em {
    padding-right:0px;
    background:none;
}

.jm-menubar .x-btn-menu-active .x-btn-center,
.jm-menubar .x-btn-menu-active .x-btn-left,
.jm-menubar .x-btn-menu-active .x-btn-right,
.jm-menubar .x-btn-over .x-btn-center,
.jm-menubar .x-btn-over .x-btn-left,
.jm-menubar .x-btn-over .x-btn-right,
.jm-menubar .x-btn-over .x-btn-text,
.jm-menubar .x-btn-menu-active .x-btn-text {
    background:#316AC5;
    color:white;
}



.x-splitbar-h{
	background-image:url(../extjs/resources/images/default/sizer/e-handle.gif);background-position:left center;
}


#manufacturer-ic-logos .thumb{
	background: #dddddd;
	padding: 3px;
}

#manufacturer-ic-logos .thumb-wrap{
	display: inline-block;
	margin: 4px;
	margin-right: 0;
	padding: 5px;
}
#manufacturer-ic-logos .thumb-wrap span{
	display: block;
	overflow: hidden;
	text-align: center;
}

#manufacturer-ic-logos .x-view-over{
    border:1px solid #dddddd;
    background: #efefef url(../extjs/resources/images/default/grid/row-over.gif) repeat-x left top;
	padding: 4px;
}

#manufacturer-ic-logos .x-view-selected{
	background: #eff5fb url(../resources/selected.gif) no-repeat right bottom;
	border:1px solid #99bbe8;
	padding: 4px;
}
#manufacturer-ic-logos .x-view-selected .thumb{
	background:transparent;
}

#manufacturer-ic-logos .thumb-wrap span {
	cursor: default;
}