imports:
    - { resource: config.yml }

monolog:
    handlers:
        main:
            type:         fingers_crossed
            action_level: warning
            handler:      nested
        nested:
            type:  stream
            path:  %kernel.logs_dir%/partkeepr.log
            level: warning
        console:
            type:  console
