<?php

/**
 * Specifies the database driver. Available options are listed on this page:
 * http://docs.doctrine-project.org/projects/doctrine-dbal/en/latest/reference/configuration.html#driver
 */
$container->setParameter('database_driver', 'pdo_mysql');

/**
 * Specifies the hostname for the database
 */
$container->setParameter('database_host', 'localhost');
/**
 * Specifies the database port.
 */
$container->setParameter('database_port', '3306');

/**
 * Specifies the database name
 */
$container->setParameter('database_name', 'symfony');

/**
 * Specifies the username for the database
 */
$container->setParameter('database_user', 'root');

/**
 * Specifies the password for the database
 */
$container->setParameter('database_password', null);

$container->setParameter('mailer_transport', null);
$container->setParameter('mailer_host', null);
$container->setParameter('mailer_port', null);
$container->setParameter('mailer_encryption', null);
$container->setParameter('mailer_user', null);
$container->setParameter('mailer_password', null);
$container->setParameter('mailer_auth_mode', null);

$container->setParameter('authentication_provider', 'PartKeepr.Auth.WSSEAuthenticationProvider');

$container->setParameter('locale', 'en');

$container->setParameter('secret', 'COAAFJGGLPHPDGGNCNILHFGECFMMACKC');

$container->setParameter('fr3d_ldap.driver.host', '127.0.0.1');
$container->setParameter('fr3d_ldap.driver.port', null);
$container->setParameter('fr3d_ldap.driver.username', null);
$container->setParameter('fr3d_ldap.driver.password', null);
$container->setParameter('fr3d_ldap.driver.bindRequiresDn', false);
$container->setParameter('fr3d_ldap.driver.baseDn', '');
$container->setParameter('fr3d_ldap.driver.accountFilterFormat', null);
$container->setParameter('fr3d_ldap.driver.optReferrals', null);
$container->setParameter('fr3d_ldap.driver.useSsl', null);
$container->setParameter('fr3d_ldap.driver.useStartTls', null);
$container->setParameter('fr3d_ldap.driver.accountCanonicalForm', null);
$container->setParameter('fr3d_ldap.driver.accountDomainName', null);
$container->setParameter('fr3d_ldap.driver.accountDomainNameShort', null);
$container->setParameter('fr3d_ldap.user.enabled', false);
$container->setParameter('fr3d_ldap.user.baseDn', 'dc=blabla,dc=com');
$container->setParameter('fr3d_ldap.user.filter', null);
$container->setParameter('fr3d_ldap.user.attribute.username', null);
$container->setParameter('fr3d_ldap.user.attribute.name', null);
$container->setParameter('fr3d_ldap.user.attribute.email', null);

/**
 * !!!!!!!!!!!!!!!!!!!!!!!!Note: All parameters below will be overwritten on setup! !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
 *
 * The recommended way is to copy the config_custom.yml.dist to config_custom.yml, and put your custom parameters in the
 * parameters_custom.php file.
 */

/**
 * Specifies if the frontend should perform an auto-login
 */
$container->setParameter('partkeepr.frontend.auto_login.enabled', false);

/**
 * Specifies the auto-login username
 */
$container->setParameter('partkeepr.frontend.auto_login.username', 'admin');

/**
 * Specifies the auto-login password
 */
$container->setParameter('partkeepr.frontend.auto_login.password', 'admin');

/**
 * Specifies the category path separator
 */
$container->setParameter('partkeepr.category.path_separator', ' ➤ ');

