.manufacturer-ic-logos .thumb{
	background: #ffffff;
	padding: 3px;
}

.manufacturer-ic-logos .thumb-wrap{
	display: inline-block;
	margin: 4px;
	margin-right: 0;
	padding: 5px;
}

.manufacturer-ic-logos .thumb-wrap span{
	display: block;
	overflow: hidden;
	text-align: center;
}

.manufacturer-ic-logos .x-view-over{
    border:1px solid #dddddd;
    background: #efefef url(../resources/images/over.gif) repeat-x left top;
	padding: 4px;
}

.manufacturer-ic-logos .x-item-selected{
	background: #eff5fb url(../resources/images/selected.gif) no-repeat right bottom;
	border:1px solid #99bbe8;
	padding: 4px;
}
.manufacturer-ic-logos .x-view-selected .thumb{
	background:transparent;
}

.manufacturer-ic-logos .thumb-wrap span {
	cursor: default;
}

.partdisplay h1 {
	font-size: 2em;
}

div.partdisplay td {
	padding: 2px;
	vertical-align: top;
}

div.partdisplay table {
	width: 100%;	
}
td.e {
	background-color: #eeeeee;
}

td.e2 {
	background-color: #dddddd;	
}

td.o {
	background-color: #cccccc;	
}

td.o2 {
	background-color: #bbbbbb;	
}

.remoteimagefield {
	border: 1px solid black;
}

#loading { position: absolute; width: 180px; margin: -70px 0 0 -90px; height: 140px; top: 50%; left: 50%; }
#loading .logo { background: url(../resources/images/loading.gif) no-repeat; position: absolute; display: block; top: 25px; left: 22px; width: 120px; height: 120px; }

.icon-footprint {
	background-image: url(../resources/fugue-icons/icons/fingerprint.png) !important;
}

.icon-system-monitor {
	background-image: url(../resources/fugue-icons/icons/system-monitor.png) !important;
}

.icon-chart-bar {
	background-image: url(../resources/silkicons/chart_bar.png) !important;
}

.icon-wooden-box {
	background-image: url(../resources/fugue-icons/icons/wooden-box.png) !important;
}

.icon-unit {
	background-image: url(../resources/icons/unit.png) !important;
}

.icon-building {
	background-image: url(../resources/silkicons/building.png) !important;
}

.icon-lorry {
	background-image: url(../resources/silkicons/lorry.png) !important;
}

.icon-user {
	background-image: url(../resources/silkicons/user.png) !important;
}

.icon-ruler {
	background-image: url(../resources/fugue-icons/icons/ruler.png) !important;
}

.icon-gear {
	background-image: url(../resources/fugue-icons/icons/gear.png) !important;
}

.icon-drive-upload {
	background-image: url(../resources/fugue-icons/icons/drive-upload.png) !important;
}

.icon-infocard {
	background-image: url(../resources/fugue-icons/icons/infocard.png) !important;
}

.icon-drill {
	background-image: url(../resources/fugue-icons/icons/drill.png) !important;
}

.icon-service-bell {
	background-image: url(../resources/fugue-icons/icons/service-bell.png) !important;
}

.icon-brick {
	background-image: url(../resources/silkicons/brick.png) !important;
}

.icon-table {
	background-image: url(../resources/fugue-icons/icons/table.png) !important;
}

.icon-attach {
	background-image: url(../resources/silkicons/attach.png) !important;
}

.icon-notebook {
	background-image: url(../resources/fugue-icons/icons/notebook.png) !important;
}