.x-setup-header {
	background-image: url(../setup_header.jpg);
	background-repeat: no-repeat;
	border-bottom: 3px solid #aaaaaa !important;
}

.x-partkeepr-setup-basecard .x-panel-header-body {
	height: 30px;
}

